*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;}

    .text-primary {
        color: #FD6E0A;
    }
    .btn-primary{
        color: white;
        font-weight: 700;
        font-size: 20px;
        /* height: 64px; */
        border-radius: 5px;
        background: #FD6E0A;
        border: 0;
        padding: 18px 35px;
    }
    .btn-contact{
        border: 1px solid #FD6E0A;
        color: #FD6E0A;
        background: none;
        margin-left: 30px;
    }

    /* header and navigation styles */
    .header{
        background: #FFF8F3;
        background-image: url('../images/header_bg.png'), url(../images/developer.png);
        background-repeat: no-repeat;
        background-position: right bottom, left;
    }

    /* navigation styles */
    nav{
        display: flex;
        justify-content: space-between;
        padding: 50px 200px;
    }
    .nav-title {
        font-weight: 800;
        font-size: 45px;
    }
    nav ul {
        display: flex;
        align-items: center;
    }
    nav li {
        list-style: none;
        margin-left: 50px;
    }

    /* banner styles */
    .banner{
        display: flex;
        align-items: center;
        margin: 0 200px;
    }
    /* .banner> img{
        margin-left: 400px;
    } */
    .banner-title{
        font-weight: 700;
        font-size: 85px;
    }
    .banner-sub-title{
        font-weight: 600;
        font-size: 45px;
        margin-bottom: 20px;
    }
    .banner-description{
        font-size: 18px;
        color: #757575;
        margin-bottom: 30px;
    }

    /* main section */
    main{
        max-width: 1140px;
        margin: 0 auto;
        margin-top: 130px; ;
    }

    /* about section style */
    .about{
        background: #FFF8F3;
        border-radius: 10px;
        text-align: center;
        padding: 120px 150px;
        text-align: center;

    }
   .about-section-title{
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 30px;
   }

   /* about-info-container style */
   .about-info-container{
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        /* margin-top: 30px; */
   }
   .info-title{
        color: #757575;
   }
   .info-description{
        color: #474747;
   }
   
   /* what-i-do section style */
    .what-i-do{
        margin-top: 130px;
        text-align: center;
   }
   .what-i-do-title{
        font-weight: 700;
        font-size: 35px;
   }
   .what-i-do-description{
        font-size: 18px;
        color: #757575;
        margin-top: 30px;
        margin-bottom: 50px;
        
   }

   /* skills-container styles */
   .skills-container{
        display: flex;
        gap: 24px;
   }
   .skill{
        background: #FFFFFF;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 30px;
        text-align: left;       
   }
   .skill-title{
        font-size: 20px;
        font-weight: 700;
        margin-top: 40px;
   }
   .skill-description{
        color: #757575;
        margin-top: 20px;
   }
   
   /* Resume section styles */
   .section-title{
        margin-top: 130px;
        text-align: center;
        margin-bottom: 115px;
        font-size: 35px;
   }
   .resume-content{
        display: flex;
        gap: 24px;
   }
   .resume-title{
        font-weight: 700;
        font-size: 30px;
        color: #474747;
   }
   .resume-item{
        margin: 30px 0;
   }
   .resume .title {
        font-weight: 700;
        font-size: 25px;
        color: #474747;
        margin-top: 30px;
   }
   .resume .sub-title {
        font-weight: 600;
        font-size: 20px;
        color: #757575;
        margin-top: 10px;

   }
   .resume .description {
        color: #757575;
        margin-top: 20px;
   }
   .resume-content-btn{
        margin-top: 50px;
        text-align: center;
   }

   /* contact section */
   .contact{
        display: flex;
        gap: 110px;
        background: #FFF8F3;
        margin-top: 115px;
        padding:50px 200px;
   }
   .contact a{
        text-decoration: none;
        margin-right: 24px;
   }
   .contact-title{
        font-weight: 700;
        font-size: 35px;
        padding-top: 30px;
   }
   .contact-description{
        margin-top: 20px;
        margin-bottom: 30px;
        color: #474747;
   }
   .contact input[type="text"], input[type="email"], textarea{
        margin-bottom: 24px;
        border: 0;
        width: 100%;
        padding: 18px 30px;
   }
   .contact input[type="text"] {
    margin-top: 20px;
   }
   